<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <p>This is a normal button <button type="button" class="btn btn-primary">Primary</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is a normal button outside the p tag</p>
      <button type="button" class="btn btn-primary">Primary</button>
    </div>
    <div class="col-lg-4">
      <p>This is a secondary button outside the p tag</p>
      <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>This is a success button <button type="button" class="btn btn-success">success</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is a success button outside the p tag</p>
      <button type="button" class="btn btn-success">success</button>
    </div>
    <div class="col-lg-4">
      <p>This is an outline button outside the p tag</p>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <p>This is a lg button <button type="button" class="btn btn-primary btn-lg">lg</button></p>
    </div>
    <div class="col-lg-4">
      <p>This is a lg button outside the p tag</p>
      <button type="button" class="btn btn-primary btn-lg">lg</button>
    </div>
    <div class="col-lg-4">
      <p>This is a small secondary button outside the p tag</p>
      <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
    </div>
  </div>
</div>
