<div class="container">
  <div class="navbar navbar-default">
    <ul class="nav navbar-nav">
       <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
       <li><a href="#">About</a></li>
       <li>
         <a href="#" class="">Contact</a>
       </li>
     </ul>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
    <div class="col-lg-4">
      <p>some text <button type="button" class="btn btn-default" name="button">a button</button></p>
    </div>
  </div>

</div>
