  <div class="row">
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
    <div class="col-lg-4">
      <p>Here is some interesting text for you to read.</p>
      <a class="btn" href="#">OK</a>
    </div>
  </div>
