<div class="container">

  <ul class="nav navbar-nav">
    <li class="nav-item">Home</li>
    <li class="nav-item">About</li>
    <li class="nav-item">Contact</li>
  </ul>

  <%# <nav class="navbar navbar-expand-lg navbar-light bg-light"> %>
  <%#   <a class="navbar-brand" href="#">Navbar</a> %>
  <%#   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> %>
  <%#     <span class="navbar-toggler-icon"></span> %>
  <%#   </button> %>
  <%#   <div class="collapse navbar-collapse" id="navbarNav"> %>
  <%#     <ul class="nav.navbar-nav"> %>
  <%#       <li class="nav-item active"> %>
  <%#         <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> %>
  <%#       </li> %>
  <%#       <li class="nav-item"> %>
  <%#         <a class="nav-link" href="#">About</a> %>
  <%#       </li> %>
  <%#       <li class="nav-item"> %>
  <%#         <a class="nav-link" href="#">Contact</a> %>
  <%#       </li> %>
  <%#     </ul> %>
  <%#   </div> %>
  <%# </nav> %>

  <div class="row">
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Some more text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Some more text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Some more text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Even more!</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Even more!</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Even more!</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
  </div>
</div>
