<div class="container">

  <ul class="nav navbar-nav">
    <a href="#"><li class="nav-item">Home</li></a>
    <a href="#"><li class="nav-item">About</li></a>
    <a href="#"><li class="nav-item">Contact</li></a>
  </ul>

  <div class="row">
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Some Text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Some more text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Some more text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Some more text</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <p>Even more!</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Even more!</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
    <div class="col-lg-4">
      <p>Even more!</p>
      <button type="button" class="btn btn-primary">Learn more</button>
    </div>
  </div>
</div>
