<div class='container'>

  <nav class='navbar navbar-default'>

    <ul class='nav navbar-nav'>
      <li><a class='nav-link' href='#'>Home</a></li>
      <li><a class='nav-link' href='#'>About</a></li>
      <li><a class='nav-link' href='#'>Contact</a></li>
    </ul>

  </nav>

  <div class = 'row'>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
    <div class = 'col-lg-4'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis ultricies ante ac egestas. Donec massa metus, dignissim non ornare et, varius ut massa.</p>
      <button class = 'btn'>
        Test
      </button>
    </div>
  </div>

</div>
